.masonry-section {
  padding: 0;
  border-bottom: 0;
  margin-top: 4rem;
}

.masonry-section .container-fluid {
  padding: 0 3px;
}

.masonry-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  border: 0.34rem solid #fff;
}

.masonry-box img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.masonry-box:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.masonry-box .blog-meta h4 {
  padding: 0.2rem 0;
}

.masonry-box .blog-meta span {
  background-color: #111111;
  border-radius: 3px;
  font-size: 12px;
  padding: 0.1rem 1rem;
}

.blog-meta h4 {
  padding: 1rem 0 0.5rem;
  margin: 0;
  font-size: 21px;
}

.blog-meta small {
  font-size: 11px;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #111111;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.blog-meta small:after {
  content: "/";
  padding-left: 1rem;
}

.blog-meta small:last-child:after {
  content: "";
}

.shadoweffect {
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.1) 30%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.1) 30%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.1) 30%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

.shadow-desc {
  position: absolute;
  bottom: 0;
  padding: 1rem 1.5rem;
}

.shadow-desc .blog-meta small::after,
.shadow-desc .blog-meta a,
.shadow-desc .blog-meta h4 a {
  color: #ffffff !important;
}

.first-slot {
  float: left;
  width: 50%;
}

.last-slot,
.second-slot {
  float: left;
  width: 25%;
}

.first-slot .blog-meta h4 {
  font-size: 31px;
  line-height: 1.4;
}

.masonry-section .blog-meta h4 {
  font-weight: 600;
  padding: 0.8rem 0 0.5rem !important;
}

.blog-meta small a,
.blog-meta small {
  font-weight: 500;
  color: #999;
}

.masonry-box:hover .blog-meta span.bg-category {
  background-color: #ff6347 !important;
}

@media (max-width: 1080px) {
  .first-section .blog-meta h4 {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .masonry-section .blog-meta h4 {
    font-size: 16px;
  }
  .shadow-desc {
    padding: 1rem 0.5rem;
  }
  .last-slot,
  .second-slot,
  .first-slot {
    float: none;
    width: 100%;
    display: block;
  }
}
